# Created by https://www.toptal.com/developers/gitignore/api/venv,python
# Edit at https://www.toptal.com/developers/gitignore?templates=venv,python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
.venv